@use '../../mixin/mixin' as *;
@use '../../setting/setting' as *;

.home {

  .box {
    width: 300px;
    height: 300px;
  }

  .box01 {
    background-color: $color_main;//settingの変数を使用
  }

  .box02 {
    margin: 40px 0 40px;
    @include background($image:url(https://picsum.photos/200/300),$size:contain);//mixinを使用

    @include sp(){
      @include background($image:url(https://picsum.photos/200/300?grayscale));//mixinを使用 $sizeを省略するとcoverになる
    }

  }
}